i<!DOCTYPE html>
<html>
    {% include 'base/base.html' %}
    <body>
      <div class="container">

        <form>
            <h3>Login</h3>
            <div class="row twelve columns">
              <input class="u-full-width" type="text" placeholder="Username, e.g: deepankar" id="uName">
            </div>
            <div class="row twelve columns">
              <input class="u-full-width" type="text" placeholder="Password.." id="passwd">
            </div>
          <input class="button-primary" type="submit" value="Submit">
          <div class="row">
            <small>Don't have an account ? <a href="/referral/signup">Sign up</a></small>
          </div>
        </form>
      </div>

    </body>
</html>
