i<!DOCTYPE html>
<html>
    {% include 'base/base.html' %}
    <body>
      <div class="container">

        <form>
          <div class="row">
            <div class="twelve columns">
              <label for="uName">Username</label>
              <input class="u-full-width" type="text" placeholder="e.g:deepankar" id="uName">
            </div>
        <div class="twelve columns">
              <label for="passwd">Password</label>
              <input class="u-full-width" type="text" placeholder="xxxx.." id="passwd">
            </div>

          </div>
          <input class="button-primary" type="submit" value="Submit">
        </form>
      </div>

    </body>
</html>
